TEI/ODD/lacy.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:xi="http://www.w3.org/2001/XInclude"
 xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:e="http://distantreading.net/eltec/ns">
 <teiHeader>
  <fileDesc>
   <titleStmt>
    <title type="main">Encoding Guidelines for the Lacy project</title>
    <author>Lou Burnard</author>
   </titleStmt>
   <publicationStmt>
    <p>Unpublished draft</p>
   </publicationStmt>
   <sourceDesc>
    <p>A born digital document drafted in TEI format by LB</p>
   </sourceDesc>
  </fileDesc>
  <revisionDesc>
   <change when="2023-12-03">Started drafting by editing eltec.odd</change>
  </revisionDesc>
 </teiHeader>
 <text>

  <body>
   <p>Insert lots of nice documentation here</p>
  </body>
  <back>
   <div>
    <head>Full formal specifications</head>
    <p>The encoding scheme defined by this document is a TEI-conformant customization, from which
     user documentation, and formal RELAXNG or DTD specifications can be generated automatically. </p>
    <p> This section contains the full schema specification from which formal schemas may be 
     subsequently derived. It must be converted using (for example) teitorelaxng. </p>

    <schemaSpec ident="lacy" start="teiCorpus TEI" prefix="tei_" targetLang="en" docLang="en"
    source="tei:4.10.2">

<!-- MODULES -->
     <moduleRef key="tei"/>
     <moduleRef key="core" include="ab add del desc p figure graphic foreign emph gap hi milestone name date ptr ref list item
      label head measure note pb series author respStmt resp title publisher bibl l lg relatedItem sp speaker
      stage sic  teiCorpus term corr quote"/>
     <moduleRef key="textstructure" include="TEI text body div trailer byline titlePage docTitle
      titlePart docAuthor docImprint docDate epigraph signed front back"/>
     <moduleRef key="header" include="teiHeader fileDesc titleStmt publicationStmt distributor
      sourceDesc encodingDesc classDecl taxonomy category catDesc listPrefixDef prefixDef revisionDesc change idno extent profileDesc langUsage language textClass catRef keywords "/>
     <moduleRef key="drama" include="set performance castGroup castList castItem role roleDesc actor
      spGrp sound"/>
     <!-- <moduleRef key="linking" include="seg"/>-->
  <!--   <moduleRef key="transcr" include="subst addSpan delSpan"/>
  -->   <moduleRef key="namesdates" include="event listEvent listPerson person persName"/>
     <moduleRef key="tagdocs" include="listRef ident"/>
    <moduleRef key="corpus" include="particDesc"/>
<moduleRef key="analysis"/><!-- need this to get @ana -->

<!-- CLASSES -->

     <classSpec ident="att.anchoring" type="atts" mode="delete"/>
    <!-- <classSpec ident="att.ascribed.directed" type="atts" mode="delete"/>
  -->   
      <classSpec ident="att.breaking" type="atts" mode="delete"/>
     <classSpec ident="att.cReferencing" type="atts" mode="delete"/>
     <classSpec ident="att.calendarSystem" type="atts" mode="delete"/>
     <classSpec ident="att.canonical" type="atts" mode="change">
      <attList>
       <attDef ident="ref" mode="change">
        <exemplum>
         <p>adds a reference for a standard authority database, e.g. viaf</p>
         <egXML xmlns="http://www.tei-c.org/ns/Examples"> <author ref="viaf:1234">Some
          Geyser</author> </egXML>
        </exemplum>
       </attDef>
       <attDef ident="key" mode="delete"/>
      </attList>
     </classSpec>
    <classSpec ident="att.cmc" type="atts" mode="delete"/>
    
     <classSpec type="atts" ident="att.datable" mode="change">
      <attList>
       <attDef ident="calendar" mode="delete"/>
       <attDef ident="period" mode="delete"/>
      </attList>
     </classSpec>

    <classSpec ident="att.datcat" type="atts" mode="delete"/>
     <classSpec ident="att.declarable" type="atts" mode="delete"/>
     <classSpec ident="att.declaring" type="atts" mode="delete"/>

     <classSpec type="atts" ident="att.dimensions" mode="change">
      <attList>
       <attDef ident="precision" mode="delete"/>
       <attDef ident="scope" mode="delete"/>
      </attList>
     </classSpec>

  <classSpec ident="att.divLike" type="atts" mode="change">
  <attList>
<attDef ident="org" mode="change">
  <valList mode="change" type="closed">
  <valItem ident="parallel" mode="add"><desc>the immediate contents of this
  element are regarded as forming a logical unit, to be
  processed in parallel.</desc></valItem></valList>
  </attDef> </attList> 

</classSpec>
<classSpec ident="att.docStatus" type="atts" mode="delete"/>
     <classSpec ident="att.editLike" type="atts" mode="delete"/>
     <classSpec ident="att.fragmentable" type="atts" mode="delete"/>
     <classSpec type="atts" ident="att.global.change" mode="delete"/>
     <classSpec type="atts" ident="att.global.facs" mode="delete"/>
 <!--    <classSpec type="atts" ident="att.global.linking" mode="delete"/>
-->
     <classSpec type="atts" ident="att.global.rendition" mode="change">
      <attList>
       <attDef ident="rendition" mode="delete"/>
       <attDef ident="style" mode="delete"/>
      </attList>
     </classSpec>
     <!-- <classSpec ident="att.global.responsibility" type="atts" mode="delete"/>
   -->
   <!--  <classSpec ident="att.global.source" type="atts" mode="delete"/>
   -->  <classSpec ident="att.internetMedia" type="atts" mode="delete"/>
     <classSpec ident="att.naming" type="atts" mode="change">
      <attList>
       <attDef ident="nymRef" mode="delete"/>
      </attList>
     </classSpec>
     <classSpec ident="att.personal" type="atts" mode="delete"/>
     <classSpec type="atts" ident="att.pointing" mode="change">
      <attList>
       <attDef ident="targetLang" mode="delete"/>
       <attDef ident="evaluate" mode="delete"/>
      </attList>
     </classSpec>
    <classSpec ident="att.notated" type="atts" mode="delete"/>
     <classSpec ident="att.ranging" type="atts" mode="delete"/>
     <!--<classSpec ident="att.spanning" type="atts" mode="delete"/>
-->
     <classSpec ident="att.timed" type="atts" mode="delete"/>
     <classSpec type="atts" ident="att.typed" mode="change">
      <attList>
       <attDef ident="subtype" mode="delete"/>
      </attList>
     </classSpec>
     <classSpec ident="att.written" type="atts" mode="delete"/>
     <elementSpec ident="TEI" mode="change">
      <attList>
       <attDef ident="xml:id" mode="change" usage="req"/>
       <attDef ident="version" mode="delete"/>
      </attList>
      <exemplum>
       <egXML xmlns="http://www.tei-c.org/ns/Examples"> &lt;TEI xml:id="L0001"
        xmlns="http://www.tei-c.org/ns/1.0" &gt; &lt;!-- --&gt; &lt;/TEI&gt; </egXML>
      </exemplum>
      <remarks>
       <p>The attribute xml:id should supply the Lacy Identifier for the title being encoded. This
        should begin with a letter L, followed by four digits, and (optionally) the letter R, if the
        text in question is a replacement. </p>
      </remarks>
     </elementSpec>
     <elementSpec ident="actor" mode="change">
      <attList>
       <attDef ident="perf" mode="add">
        <desc>[Lacy specific] points to a performance in which this actor had the role indicated</desc>
        <datatype ><dataRef key="teidata.pointer"/></datatype>
     <remarks><p>The element targetted may be a <gi>performance</gi> element, or an <gi>event</gi></p></remarks>
       
       </attDef>
       <attDef ident="sex" mode="change">
        <valList mode="add" type="closed">
         <valItem ident="F">
          <desc>Female</desc>
         </valItem>
         <valItem ident="M">
          <desc>Male</desc>
         </valItem>
         <valItem ident="J">
          <desc>Junior</desc>
         </valItem>
        </valList>
       </attDef>
       <attDef ident="gender" mode="delete"/>
       <attDef ident="ref" mode="delete"/>
      </attList>
     </elementSpec>
     <elementSpec ident="author" mode="change">
      <classes>
       <memberOf key="att.global"/>
       <memberOf key="att.naming"/>
       <memberOf key="model.respLike"/>
      </classes>
      <content>
       <alternate>
        <sequence>
         <elementRef key="surname"/>
         <elementRef key="forename" minOccurs="0" maxOccurs="unbounded"/>
         <elementRef key="name" minOccurs="0" maxOccurs="unbounded"/>
         <elementRef key="date"/>
        </sequence>
        <textNode/>
       </alternate>
      </content>
      <attList>
       <attDef ident="calendar" mode="delete"/>
       <attDef ident="role" mode="delete"/>
      </attList>
      <exemplum>
       <p>provides the name of an author </p>
       <egXML xmlns="http://www.tei-c.org/ns/Examples"> <author>Christof Schöch</author> </egXML>
      </exemplum>
      <remarks>
       <p>Not permitted outside the header</p>
      </remarks>
     </elementSpec>
     <elementSpec ident="bibl" mode="change">
      <attList>
     <attDef ident="status">
      <desc>status of this bibliographic description within the project</desc>
      <valList type="closed">
       <valItem ident="TEI_0"><desc>Preliminary TEI conversion checked</desc></valItem>
       <valItem ident="TEI_1"><desc>Metadata enriched from Lacy Catalogue</desc></valItem>
      <valItem ident="replaced"><desc>This item is replaced by another in later versions of the LAE</desc></valItem>
      <valItem ident="nf"><desc>no digital version of this item has been found</desc></valItem>
      
      </valList>
     </attDef>  
       <attDef ident="corresp" mode="add">
        <desc>points to an equivalent bibliographic description elsewhere; typically in Nicoll's
         Handlists </desc>
        <datatype>
         <dataRef key="teidata.pointer"/>
        </datatype>
       </attDef>
       <attDef ident="type" mode="replace">
        <desc>specifies the scope of the bibliographic description; in Dracor only two values are
         distinguished; we add a third</desc>
        <valList type="closed">
         <valItem ident="digitalSource">
          <desc>the description contains prose summarising the process by which the digitized TEI
           document was created</desc>
         </valItem>
         <valItem ident="printSource">
          <desc>the description documents the printed source in LAE, its performance history, and
           available digitizations</desc>
         </valItem>
         <valItem ident="msSource">
          <desc>the description documents a manuscript source for the work</desc>
         </valItem>
        </valList>
       </attDef>
      </attList>
     </elementSpec>
     <elementSpec ident="byline" mode="change">
      <content>
       <alternate maxOccurs="unbounded">
        <textNode/>
        <elementRef key="docAuthor"/>
        <elementRef key="title"/>
       </alternate>
      </content>
      <exemplum>
       <egXML xmlns="http://www.tei-c.org/ns/Examples"> <byline>By <docAuthor>Shirley
        Brooks.</docAuthor>Author of <title>The Daughter of the Stars</title>; <title>The
        Creole</title>; <title>The Guardian Angel</title>, &amp;c., &amp;c.</byline></egXML>
      </exemplum>
     </elementSpec>
     <elementSpec ident="change" mode="change">
      <attList>
       <attDef ident="when" mode="change" usage="req"/>
       <attDef ident="target" mode="delete"/>
       <attDef ident="when-custom" mode="delete"/>
       <attDef ident="notBefore-custom" mode="delete"/>
       <attDef ident="notAfter-custom" mode="delete"/>
       <attDef ident="from-custom" mode="delete"/>
       <attDef ident="to-custom" mode="delete"/>
       <attDef ident="datingPoint" mode="delete"/>
       <attDef ident="datingMethod" mode="delete"/>
       <attDef ident="when-iso" mode="delete"/>
       <attDef ident="notBefore-iso" mode="delete"/>
       <attDef ident="notAfter-iso" mode="delete"/>
       <attDef ident="from-iso" mode="delete"/>
       <attDef ident="to-iso" mode="delete"/>
       <attDef ident="calendar" mode="delete"/>
      </attList>
      <exemplum>
       <egXML xmlns="http://www.tei-c.org/ns/Examples"> <change when="2023-05-19">Header
        confected</change> </egXML>
      </exemplum>
      <remarks>
       <p>The <att>when</att> attribute must be supplied and should indicate a date in the format
        YYYY-MM-DD. </p>
      </remarks>
     </elementSpec>
     <elementSpec ident="corr" mode="change">
      <exemplum>
       <p>The printed source reads something other than "Perdita", which has been corrected by the
        transcriber </p>
       <egXML xmlns="http://www.tei-c.org/ns/Examples">
        <l><stage>(embracing <corr>Perdita</corr>.)</stage> Kiss me, my pet—Leontes, how d'ye do ?
        </l> </egXML>
      </exemplum>
     </elementSpec>
     <elementSpec ident="div" mode="change">

      <constraintSpec mode="add" ident="frontDivTypes" scheme="schematron">
       <constraint> <sch:rule context="tei:div"><sch:assert test="not(parent::tei:front) or
        @type=('costume','liminal','programme','castList')" role="ERROR">Inside the front matter,
        div elements must be of type liminal or costume or programme or
        castList</sch:assert></sch:rule> </constraint>
      </constraintSpec>
      <attList>
       <attDef ident="type" mode="change">
        <datatype>
         <dataRef key="teidata.enumerated"/>
        </datatype>
        <valList type="closed" mode="replace">
         <valItem ident="act"/>
         <valItem ident="costume"/>
         <valItem ident="liminal"/>
         <valItem ident="notes"/>
         <valItem ident="programme"/>
         <valItem ident="scene"/>
         <valItem ident="setting"/>
        <valItem ident="volume"/>
        <valItem ident="work"/>
        </valList>
       </attDef>
      </attList>
     </elementSpec>
     <elementSpec ident="emph" mode="change">
      <exemplum>

       <p>The editor/transcriber wishes to show that the word "my" is linguistically emphasized in
        the original source:</p>
      <egXML xmlns="http://www.tei-c.org/ns/Examples">O <sp>
      <speaker>Tip.</speaker>
      <p>Lor! only to think—how stupid of me—I quite forgot it, but now you mention it, I
      <emph>should</emph> like a bit of supper after my journey. What have you got in the house
      ?</p>
      </sp> </egXML><!-- L0048 -->
      </exemplum>
     </elementSpec>
     <!--<elementSpec ident="encodingDesc" mode="change">
      <content>
       <elementRef key="p" minOccurs="1" maxOccurs="unbounded"/>
      </content>
     </elementSpec>-->
     <elementSpec ident="foreign" mode="change">
      <exemplum>
       <p>The Latin phrase "Ab urbe condita" is not in the same language (Portuguese) as the rest of
        the paragraph </p>
       <egXML xmlns="http://www.tei-c.org/ns/Examples">
       <sp>
       <speaker>Suivanta.</speaker>
       <l>Alas! There's no commanding our affections ;</l>
       <l>And, therefore, sire, the point at once to go to, </l>
       <l>Excuse our saying we object <foreign>in toto </foreign></l>
       <l>To this alliance.</l>
       </sp></egXML><!-- L0271 -->
      </exemplum>
     </elementSpec>
     <elementSpec ident="head" mode="change">
      <exemplum>
       <egXML xmlns="http://www.tei-c.org/ns/Examples"> <body>
        <head>TIME TRIES ALL.</head>
        <div>
         <head>Act I</head>
         <stage type="setting">SCENE.— Handsome, Apartment in the House of Leeson and Bates,
          Merchants — Door in C , with window on each side — Doors L.C. Flat and R. 2 E., Chairs,
          Tables, Sofa, &amp;c., &amp;c. </stage>

         <!-- ... -->
         <trailer>End of Act 1</trailer>
        </div>
        <!-- other acts here -->
        </body> </egXML>
       <p>A heading of any kind at the start of a division of any kind should be marked using
        <gi>head</gi>. The detailed description which usually begins a scene should be marked as a
        stage, however. </p>
      </exemplum>
     </elementSpec>
     <elementSpec ident="hi" mode="change">
      <exemplum>
       <egXML xmlns="http://www.tei-c.org/ns/Examples">
        <p> Yes, Harry; your old schoolfellow is <hi>Sir</hi> Charles Chatterton now. Ha! </p>
       </egXML>
      </exemplum>
      <remarks>
       <p>This element is used for any kind of typographic salience (usually italics) recorded by
        the encoder without any attempt at interpretation.</p>
      </remarks>
     </elementSpec>
     <elementSpec ident="idno" mode="change">
      <attList>
       <attDef ident="calendar" mode="delete"/>
      </attList>
     </elementSpec>
     <elementSpec ident="l" mode="change">
      <exemplum>
       <p>When a single metrical line is split between speakers, each fragment is marked as a
        distinct <gi>l</gi> element, as in this example: </p>
       <egXML xmlns="http://www.tei-c.org/ns/Examples"> <sp> <speaker>Cecilia.</speaker>
        <l>Thoughtful sir,</l>
        <l>How fare you? </l>
        <l>Thou'st been reading much of late </l>
        <l>By the moon's light, I fear me ?</l> </sp> 
<sp> <speaker>Marl.</speaker>
        <l>Why so, lady?</l> </sp> <sp> <speaker>Cecil.</speaker>
        <l>The reflex of the page is on thy face.</l> </sp> </egXML>
      </exemplum>
      <!-- FR0726_Gay_Elleonore -->
     </elementSpec>
     <elementSpec ident="label" mode="change">
      <exemplum>
       <egXML xmlns="http://www.tei-c.org/ns/Examples"> <div type="costume">
        <list type="gloss">
         <label>Mr. Tippity </label>
         <item>Great coat, modern shooting jacket, light vest and trowsers.</item>
         <label>American.</label>
         <item>—Light frock coat, vest and trowsers, and broad hat.</item>
         <label>Frenchman.</label>
         <item>—Dressing gown, trowsers, beard, and moustache</item>
         <label>Scotchman.</label>
         <item>—Full Highland dress.</item>
         <label>Indian.</label>
         <item>Dress of the country.</item>
         <label>Mrs. Tippity.</label>
         <item>High-necked modern dress.</item>
         <label>Clementina.</label>
         <item>—Dark cotton dress, short sleeves, apron, &amp;c.</item>
        </list>
        </div></egXML>
      </exemplum>
     </elementSpec>
   <!--  <elementSpec ident="name" mode="change">
      <classes>
       <memberOf key="att.global"/>
       <memberOf key="att.typed"/>
       <memberOf key="model.nameLikeAgent"/>
       <memberOf key="model.personPart"/>
      </classes>  <exemplum>
       <p>provides the name of a person who is neither an author nor a publisher</p>
       <egXML xmlns="http://www.tei-c.org/ns/Examples"> <name>Christof Schöch</name> </egXML>
      </exemplum>
      <remarks>
       <p>Not permitted outside the header</p>
      </remarks>
     </elementSpec>-->

     <elementSpec ident="note" mode="change">
      <attList>
       <attDef ident="type" mode="change">
        <datatype>
         <dataRef key="teidata.enumerated"/>
        </datatype>
        <valList type="closed">
        <valItem ident="bib">
        <desc>any other bibliographic note</desc>
        </valItem>
         <valItem ident="ed">
          <desc>any non-bibliographic annotation or comment on the text supplied by the encoder</desc>
         </valItem>
         <valItem ident="orig">
          <desc>annotation printed as such in the original source</desc>
         </valItem>
         <valItem ident="add">
          <desc>contemporary manuscript annotation in the original source</desc>
         </valItem>
         <valItem ident="otherPerfs">
          <desc>note summarizing performance history after the first</desc>
         </valItem>
         <valItem ident="LCP">
          <desc>note concerning Lord Chamberlain's licencing of this source</desc>
         </valItem>
        <valItem ident="fees">
        <desc>note concerning performance fees payable as given in the source text</desc>
        </valItem>
        <valItem ident="source">
        <desc>note concerning original source from which source text is derived</desc>
        </valItem>
        <valItem ident="media">
        <desc>note contains links to media associated with this item</desc>
        </valItem>       
        <valItem ident="localCopies">
        <desc>note concerns local copies (deprecated)</desc>
        </valItem>
        </valList>
       </attDef>
      <!-- <attDef ident="anchored" mode="delete"/>
       <attDef ident="targetEnd" mode="delete"/>-->
      </attList>
     </elementSpec>
     
     <elementSpec ident="p" mode="change">
      <constraintSpec ident="abstractModel-structure-p" scheme="schematron" mode="delete"/>
      <constraintSpec ident="abstractModel-structure-l" scheme="schematron" mode="delete"/>

      <exemplum>
       <egXML xmlns="http://www.tei-c.org/ns/Examples"> <sp> <speaker>Sanson.</speaker> <stage>
        (bowing)</stage>
        <p>The fame of the celestial beauty, which illumines this remote region, has attracted
        me.</p> </sp> <sp> <speaker>Ninon.</speaker>
        <p>I beg your pardon.</p> </sp> </egXML>
      </exemplum>
     </elementSpec>
     <elementSpec ident="pb" mode="change">
      <attList>
       <attDef ident="facs">
        <desc>link to a graphic image of the page beginning here</desc>
        <datatype>
         <dataRef name="anyURI"/>
        </datatype>
       </attDef>
      </attList>
      <exemplum xml:lang="en">
       <p>A page break may be associated with a facsimile image of the page it introduces by means
        of the <att>facs</att> attribute</p>
       <egXML xmlns="http://www.tei-c.org/ns/Examples" source="#UND"> <body>
        <pb n="1" facs="page1.png"/>
        <!-- page1.png contains an image of the page;
    the text it contains is encoded here -->
        <p>
         <!-- ... --> </p>
        <pb n="2" facs="page2.png"/>
        <!-- similarly, for page 2 -->
        <p>
         <!-- ... --> </p>
        </body> </egXML>
      </exemplum>
      <exemplum>
       <p>If a page break interrupts a word the word fragments should be reassembled following it.
        <graphic url="media/inWordpb.png"/></p>
       <egXML xmlns="http://www.tei-c.org/ns/Examples">
        <p>My own relations too were nobly generous and by their kindness I have been
        <pb n="100"/> established in this shop, and for the last year have carried on this little
        business.... </p> </egXML>
      </exemplum>
      <remarks>
       <p>A <gi>pb</gi> element should appear at the start of the page which it identifies. The
        global <att>n</att> attribute indicates the number or other value associated with this page
        in the original source. This will normally be the page number or signature printed on it,
        since the physical sequence number is implicit in the presence of the <gi>pb</gi> element
        itself. </p>
      </remarks>
     </elementSpec>
     <elementSpec ident="pubPlace" mode="delete"/>
     <elementSpec ident="publisher" mode="change">
      <exemplum>
       <egXML xmlns="http://www.tei-c.org/ns/Examples"> <bibl type="firstEdition"> <title>La baronne
        trépassée</title> <publisher>Baudry</publisher> <pubPlace>Paris</pubPlace> <date>1852</date>
        </bibl> </egXML>
      </exemplum>
      <remarks>
       <p>Not permitted outside the header</p>
      </remarks>
     </elementSpec>

     <elementSpec ident="resp" mode="change">
      <attList>
       <attDef ident="calendar" mode="delete"/>
      </attList>
     </elementSpec>

     <elementSpec ident="respStmt" mode="change">
      <content>
       <sequence>
        <elementRef key="resp"/>
        <elementRef key="name"/>
       </sequence>
      </content>
      <exemplum>

       <egXML xmlns="http://www.tei-c.org/ns/Examples"><respStmt> <resp>Curated by</resp> <name>Lou
        Burnard</name> </respStmt></egXML>
      </exemplum>
      <remarks>
       <p/>
      </remarks>
     </elementSpec>
     <elementSpec ident="role" mode="change">
      <attList>
       <attDef ident="gender" mode="change">
        <valList mode="add" type="closed">
         <valItem ident="F">
          <desc>Female</desc>
         </valItem>
         <valItem ident="J">
          <desc>Juvenile</desc>
         </valItem>
         <valItem ident="M">
          <desc>Male</desc>
         </valItem>
         <valItem ident="X">
          <desc>Mixed</desc>
         </valItem>
        <valItem ident="U">
        <desc>Unknown (Dracor requisite)</desc>
        </valItem>
        </valList>
       </attDef>
      </attList>
     </elementSpec>
     <elementSpec ident="sourceDesc" mode="change">
      <exemplum>
       <p> </p>
       <egXML xmlns="http://www.tei-c.org/ns/Examples"> <sourceDesc>
        <p>Converted from <ref target="gut:45628">The Project Gutenberg EBook of A Desperate Game,
         by John Maddison Morton</ref> (Release Date: May 11, 2014 [EBook #45628])</p>
        </sourceDesc> </egXML>
      </exemplum>
     </elementSpec>
     <!--<elementSpec ident="sp" mode="change">
      <attList>
       <attDef ident="synch">
        <desc>points to one or more speeches which are to be performed simultaneously</desc>
        <datatype maxOccurs="unbounded">
         <dataRef name="anyURI" />
        </datatype>
       </attDef>
      </attList>
     </elementSpec>-->
     <elementSpec ident="spGrp" mode="change">
<classes>
<memberOf key="att.global"/>
<memberOf key="att.ascribed.directed"/>
<memberOf key="att.typed"/>
<memberOf key="att.divLike"/>
<memberOf key="model.divPart"/>
</classes>
     <content>
     <sequence>
     <classRef key="model.headLike" minOccurs="0" maxOccurs="unbounded"/>
     <alternate minOccurs="1" maxOccurs="unbounded">
     <classRef key="model.global"/>
     <elementRef key="sp"/>
     <elementRef key="spGrp"/>
     <classRef key="model.stageLike"/>
     </alternate>
     </sequence>
     </content>
<attList>
       <attDef ident="type" mode="delete"/>
<attDef ident="sample" mode="delete"/>
      </attList>

     </elementSpec>
     <elementSpec ident="text" mode="change">
      <exemplum>
       <egXML xmlns="http://www.tei-c.org/ns/Examples"> <text>
        <front><!-- front matter e.g. titlepage  --></front>
        <body><!-- body of the text --></body>
        <back><!-- back matter e.g. notes--> </back>
        </text> </egXML>
      </exemplum>
      <remarks>
       <p/>
      </remarks>
     </elementSpec>
     <!-- <elementSpec ident="title" mode="change">
      <attList>
       <attDef ident="calendar" mode="delete"/>
      </attList>
     </elementSpec>-->
     <elementSpec ident="titleStmt" mode="change">
      <exemplum>
       <egXML xmlns="http://www.tei-c.org/ns/Examples"> <titleStmt>
        <title n="anythingforachange" type="main">Anything for a Change: TEI edition</title>
        <author>Brooks, Shirley</author>
        <respStmt>
         <resp>Curated by</resp>
         <name>Lou Burnard</name>
        </respStmt>
        </titleStmt> </egXML>
      </exemplum>
     </elementSpec>

     <elementSpec ident="trailer" mode="change">
      <exemplum>
       <egXML xmlns="http://www.tei-c.org/ns/Examples"> <body>
        <!-- ... -->
        <sp>
         <speaker>Rat.</speaker>
         <p>At any rate, I have secured this lady for my <emph>partner,</emph> and for such a prize
          who would not play “A Desperate Game.”</p>
        </sp>

        <stage>CURTAIN.</stage>

        <trailer>PRINTED BY THOMAS SCOTT, WARWICK COURT, HOLBORN.</trailer>

        </body></egXML>
      </exemplum>
     </elementSpec>
    </schemaSpec>
   </div>
  </back>
 </text>
</TEI>
